/* Copyright 2016 Christopher P. Nelson - All rights reserved. */

@-ms-viewport{
    width: device-width;
}
body {
    margin: 0;
    color: #000;
    z-index: 0;
}
.playcenter {
    stroke: #0c0;
    fill: #fff;
    stroke-width: 5;
    stroke-linejoin: round;
    pointer-events: none;
}
.playborder {
    stroke: #0c0;
    fill: #cfc;
    stroke-width: 7;
    cursor: pointer;
}
.playborder:hover {
    fill: #ddd;
}
.pausecenter {
    stroke: #555;
    stroke-width: 10;
    stroke-linecap: butt;
    pointer-events: none;
}
.pauseborder {
    stroke: #555;
    fill: #eee;
    stroke-width: 7;
    cursor: pointer;
}
.pauseborder:hover {
    fill: #ddd;
}
.pause-at {
    fill: #eee;
    cursor: pointer;
}
.pause-at-hidden {
    display: none;
    cursor: default !important;
}
.pause-at-selected {
    fill: #f0d0d0 !important;
}
.pause-at:hover {
    fill: #ddd;
}
.infobutton {
    fill: #d0d0ff;
    cursor: pointer;
}
.infobutton:hover {
    fill: #b0b0ff;
}
#truth {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    max-width: 50vw;
    max-height: 50vh;
    overflow: auto;
    background-color: #eee;
    border-style: none solid solid none;
    border-width: thin;
    text-align: center;
    display: block;
    z-index: 150;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}
#info {
    position: fixed;
    top: 0;
    right: 0;
    border-bottom-style: solid;
    border-width: thin;
    background-color: #d0d0ff;
    overflow: auto;
    width: 100%;
    max-height: 30vh;
    z-index: 101;
}
#info-stub {
    position: fixed;
    display: none;
    border-style: none solid solid none;
    border-width: thin;
    width: 2em;
    height: 2em;
    background-color: #d0d0ff;
    z-index: 101;
}
.controls {
    display: inline-block;
    background-color: #eee;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    z-index: 100;
}
#cdrag {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 8em; /* resized in Javascript to match cbox_container + border */
    z-index: -1;
}
#cbox_container {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    background-color: #eee;
    background-clip: padding-box;
    border-right-style: dotted;
    border-width: thin;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #d0ffd0;
    z-index: 2;
}
#cbox {
    top: 0;
    left: 0;
    width: 8em;
    height: 100%;
    background-color: #d0ffd0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}
#cdraw {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #eee;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}
p {
    margin: 10px;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    border-collapse: collapse;
}
.truthbody {
    cursor: pointer;
}
th {
    cursor: default;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
td.truth {
    text-align: center;
}
td {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.tdb {
    border-bottom: thin solid;
}
td.tdl {
    border-left: thin solid;
}
td.tdr {
    border-right: thin solid;
}
td.tdlr {
    border-left: thin solid;
    border-right: thin solid;
}
.tdl {
    padding-left: 1em;
}
.tdr {
    padding-right: 1em;
}
.tdlr {
    padding-left: 1em;
    padding-right: 1em;
}
th.check, td.check {
    border: none;
    background-color: #eee !important;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.checkmark {
    stroke: #0c0;
    fill: none;
    stroke-width: 8.4px;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.xmark {
    stroke: #f00;
    fill: none;
    stroke-width: 8.4px;
    stroke-linejoin: round;
    stroke-linecap: round;
}
#main_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    display: none;
}
#main_curtain {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}
#main {
    position: fixed;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    background-color: #eee;
    opacity: 1.0;
    overflow: auto
}
table.levels {
    border: thin solid;
    cursor: pointer;
}
tr.levels:hover {
    background-color: #ddd;
}
body.cursor-force-default, body.cursor-force-default * {
    cursor: default !important;
}
body.cursor-force-grabbing, body.cursor-force-grabbing * {
    cursor: default !important;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: grabbing !important;
}
body.cursor-force-all-scroll, body.cursor-force-all-scroll * {
    cursor: all-scroll !important;
}
body.cursor-force-not-allowed, body.cursor-force-not-allowed * {
    cursor: not-allowed !important;
}
