/* Copyright 2016 Christopher P. Nelson - All rights reserved. */

body {
    margin: 0;
    color: #000;
    z-index: 0;
}
.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.playcenter {
    stroke: #0c0;
    fill: #fff;
    stroke-width: 5;
    stroke-linejoin: round;
    pointer-events: none;
}
.playborder {
    stroke: #0c0;
    fill: #cfc;
    stroke-width: 7;
    cursor: pointer;
}
.playborder:hover {
    fill: #ddd;
}
.pausecenter {
    stroke: #555;
    stroke-width: 10;
    stroke-linecap: butt;
    pointer-events: none;
}
.pauseborder {
    stroke: #555;
    fill: #eee;
    stroke-width: 7;
    cursor: pointer;
}
.pauseborder:hover {
    fill: #ddd;
}
#truth {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    min-width: 8em;
    background-color: #eee;
    border-style: none solid solid none;
    border-width: thin;
    z-index:4;
    text-align: center;
}
#msgs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    text-align: center;
}
.info {
    height: auto;
    border-bottom-style: solid;
    border-width: thin;
    background-color: #d0d0ff;
}
#error {
    width: 100%;
    height: auto;
    border-style: solid none solid none;
    border-width: thin;
    background-color: #ffb0b0;
}
#cdrag {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 8em; /* resized in Javascript to match cbox_container + border */
    z-index: -1;
}
#cbox_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 8em;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    background-color: #d0ffd0;
}
#cbox {
    top: 0;
    left: 0;
    width: 8em;
    height: 20em;
    background-color: #d0ffd0;
}
#cdraw {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: #eee;
    border-left-style: dotted;
    border-width: thin;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}
p {
    margin: 0 10px;
}
