/* Copyright 2016 Christopher P. Nelson - All rights reserved. */

body {
    margin: 0;
    background: #eee;
    color: #000;
    z-index: 0;
}
#holder {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.box {
    position: fixed;
    top: 0;
    width: 100px;
    height: 100px;
    overflow: auto;
    z-index: -1;
    background-color: #d0ffd0;
}
.msgs {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
.error {
    width: 100%;
    height: auto;
    border-style: solid none solid none;
    border-width: thin;
    background-color: #ffb0b0;
}
.info {
    width: 100%;
    height: auto;
    border-style: solid none none none;
    border-width: thin;
    background-color: #d0d0ff;
}
p {
    margin: 0 10px;
}
